---
import Formularios from '../components/formularios.astro';
import Layout from '../layouts/Layout.astro';

---


<script src="../js/eventos.js" />

<Layout title = "preguntas frecuentes" description = "aca podes preguntar lo que desees sin ningun prolema y de ,anera facil">
	<h3>Eventos</h3>

	<div class="contenedorbtn">

		<button class="btn1">btn1</button>
		<button class="btn2">btn2</button>
		<button class="btn3">btn3</button>
		<button class="btn4">btn4</button>
	
	</div>
	
</Layout>
