---
import Layout from '../layouts/Layout.astro';


---


<style>
	
	.card{
		width: 180px;
		height: 120px;
		background-color: cadetblue;
		box-shadow: 5px 5px 5px;
		padding: 1rem;
		margin: 10px;
	}

	.card.red{
		background-color: red;
		margin-left: 30px;
	}
	.card.green{
		background-color: green;
	}
	.card.yellow{
		background-color: yellowgreen;
	}


	.parrafoescondido{
		color: red;
	}
</style>


<script src="../js/dom.js"></script>


<Layout title = "mi portafiolio" description = "esta seria mi descripcion parael seo">
	<h1>Metodos del dom</h1>

	<div class="container">

		<div class="card card-1" >
			<header>1Titulo de la tarjeta</header>
			<p>1Parrafo de la tarjet</p>
			<footer>1creado por g23</footer>
		</div>

		<div class="card card-2">
			<header>2Titulo de la tarjeta</header>
			<p>2Parrafo de la tarjet</p>
			<footer>2creado por g23</footer>
		</div>

		<div class="card card-3">
			<header>3Titulo de la tarjeta</header>
			<p>3Parrafo de la tarjet</p>
			<footer>3creado por g23</footer>
		</div>

		<input type="text" name="nombreinput" id="idinput" placeholder="texto">


	</div>

	<h3>aca abajo insertame el parafo</h3>
	<button type="button" id="btninsertar">insertar</button>
	<p id="insertarp" class="parrafoescondido"></p>
	<button class="btnstyle">style</button>

	
</Layout>

