---
import Layout from "../layouts/Layout.astro"
---
<script src="../assets/sendf.js"></script>




<Layout>
    hola

    <div class="enviar">
        <form class="enviarf">

                <input type="text", placeholder="tu nombre", name="nombref">
                <button class="btnenviar" type="submit" id="btnenviar">
                    enviar
                </button>

        </form>
    </div>


</Layout>