---
import Nuevoformulario from '../components/Nuevoformulario.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title = "mis servicios" description = "esta seria mi descripcion parael seo">
	<h1>Formulario</h1>
	<Nuevoformulario></Nuevoformulario>
</Layout>
