---
import Layout from "../layouts/Layout.astro"
---
<script src="../assets/temporizador.js"></script>

<Layout>
    <button class="tiempo">inicio</button>
    <button class="intervalo">intervalo</button>

</Layout>