---
import '@fontsource/balsamiq-sans';


---

<style>
    .contenedorprincipal {

        background-color: aquamarine;
        display: flex; /* activa fexbox */
        justify-content: space-between; /* distribye el espacio */
        align-items: center; /* allinea verticalmnte */
        gap: 0px; /* espacio entr divs */
        width: 57%;

        padding: 3rem;
        
    }

    .formularioimg {

        background-image: url("../assets/images/sprite/xfondo.png");
        width: 39%; 
        height: 450px; 
        border-radius: 9px 0px 0px 9px;

        
        
        

    & h2, p{color: rgb(230, 230, 230);
        padding-left: 2rem;
        font-family: 'Balsamiq Sans', system-ui;
    }

}

    .textoi{
        background: transparent;
        border: none;
        margin-left: 2rem;
        margin-top: 2rem;
        
        
    
    }

.formulariodiv {
    background-color: rgb(148, 148, 148);
    width: 66%;
    height: 450px;
    border-radius: 0px 9px 9px 0px;
    
}


.formulario{
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    


    & input{
        height: 30px;
        width: 85%;
        border:0px; 
        border-radius: 5px; 
        font-size: 15px;        
    }

    & label{
        font-family: 'Balsamiq Sans', system-ui;
        font-size: 18px;
    }

}

.boton{
    height: 38px;
    width: 42%;
    background-color: rgb(82, 82, 82);    
    font-family: 'Balsamiq Sans', system-ui;
    border-radius: 6px;
    font-size: 22px;
    font-weight:bolder;
    color: rgb(0, 0, 0);
}
</style>



<div class="contenedorprincipal">

    <div class="formularioimg">
        <form id="formularioaparte">
            <input type="text" placeholder="Texto" class="textoi" name="textoaparte">
            <textarea name="parrafoaparte" id="parrafoi" placeholder="Párrafo" class="textoi"></textarea>
            
        </form>
        
    </div>

    <div class="formulariodiv" >
        <form class="formulario" id="nformulario">

            <label>Nombre completo <br><input type="text" name="nombre" placeholder="Por favor ingrese su nombre"/> </label>
            <label>Telefono <br><input type="text" name="telefono" placeholder="212-111-0000"> </label>
            <label>Correo <br><input type="email" name="correo" placeholder="mail@amocrm.com"> </label>
            <label>Nota <br><input type="text" name="nota" placeholder="Comentario"> </label>
            <button class="boton">Enviar <br></button>
        </form>
    </div>
    
</div>

<script src="../assets/nuevoformulario.js"></script>
